{%- assign site_url = site.url | append: site.baseurl -%}
{%- assign cp_list = site.brand.contact_points | default: site.brand.contactPoint -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": {{ site.brand.name | jsonify }},
  "url": {{ site_url | jsonify }}{% if site.brand.logo %},
  "logo": {{ site.brand.logo | absolute_url | jsonify }}{% endif %}{% if site.brand.email %},
  "email": {{ site.brand.email | jsonify }}{% endif %}{% if site.brand.same_as %}
  ,"sameAs": [{% for s in site.brand.same_as %}{{ s | jsonify }}{% unless forloop.last %},{% endunless %}{% endfor %}]{% endif %}{% if cp_list %}
  ,"contactPoint": [
    {%- for cp in cp_list -%}
    {
      "@type": "ContactPoint",
      "contactType": {{ (cp.contactType | default: cp.type) | jsonify }}{% if cp.email %},
      "email": {{ cp.email | jsonify }}{% endif %}{% if cp.telephone %},
      "telephone": {{ cp.telephone | jsonify }}{% endif %}{% if cp.areaServed %},
      "areaServed": {{ cp.areaServed | jsonify }}{% endif %}{% if cp.availableLanguage %},
      "availableLanguage": {{ cp.availableLanguage | jsonify }}{% endif %}{% if cp.url %},
      "url": {{ cp.url | absolute_url | jsonify }}{% endif %}
    }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]{% endif %}
}
</script>
